---
layout: default
title: "GitLab Heroes"
description: "Meet the GitLab Heroes"
suppress_header: true
extra_css:
  - team.css
---

.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg" }
  .header-content
    %h1 Meet the GitLab Heroes

.wrapper
  .team-container
    .row.team-row.text-center
      - data.heroes.each do |member|
        = partial "includes/heroes/member_overview", locals: { member: member }
  
    .row.u-margin-top-md.text-center
      .col-md-3.col-md-offset-3.text-center
        %a{href: "/community/heroes#apply"} Become a GitLab Hero
      .col-md-3.text-center
        %a{href: "/handbook/marketing/community-relations/evangelist-program/#adding-yourself-to-the-heroes-page"} Add yourself to this page


