---
layout: markdown_page
title: Handbook Team
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

The Handbook Team is part of the [Growth](/handbook/engineering/development/growth/) Section and is responsible for both the editing experience and the reading experience of our [Handbook](/handbook/).

## Team Members

The following people are permanent members of the Handbook Team:

<%= direct_team(role_regexp: /[,&] Handbook/, manager_role: 'Director of Engineering, Growth') %>

## Common Links

### Handbook Issues

Everyone is welcome to browse and contribute to our [open Handbook issues](https://gitlab.com/gitlab-com/www-gitlab-com/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=handbook). If there's something you'd like to report or something you'd like to see in the Handbook then please don't hesitate to [open a new issue](https://gitlab.com/gitlab-com/www-gitlab-com/issues/new?issue). Contributions are welcome and appreciated!

* [Handbook Issues List] - issues labeled `handbook`, simply listed
* [Handbook Issues Board] - issues labeled `handbook`, arranged as a board with multiple columns to show the state of each issue

### Slack Channels

* [#handbook] (internal) - for Handbook-related discussion
* [#handbook-updates] (internal) - for daily summaries of Handbook updates

[Handbook Issues Board]: https://gitlab.com/gitlab-com/www-gitlab-com/-/boards/1277790?label_name[]=handbook
[Handbook Issues List]: https://gitlab.com/gitlab-com/www-gitlab-com/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=handbook

[#handbook]: https://gitlab.slack.com/archives/handbook
[#handbook-updates]: https://gitlab.slack.com/archives/handbook-updates