### Verify

Users of Verify's CI solution can expect us to invest heavily in multi-platform support, making it just as easy to build on Windows and MacOS as it is to build on Linux today. In terms of pipeline capabilities, we've recently implemented [directed acyclic graphs](https://docs.gitlab.com/ee/ci/directed_acyclic_graph/), a powerful primitive for complex dependency relationships, and we will expand on this with great features like [child/parent pipelines](https://gitlab.com/gitlab-org/gitlab/issues/16094) and [cartesian products for jobs](https://gitlab.com/gitlab-org/gitlab/issues/15356). The innovation never really stops here: there's always a way to provide a new, powerful command that can help organize your pipeline configuration in a simpler and more expressive way.

Beyond pipeline execution, we'll improve how we present and act on interesting data around what jobs do and how they perform; timing and efficiency information is one part, but so is how test results are changing over time. Our [epic for CI/CD analytics](https://gitlab.com/groups/gitlab-org/-/epics/358) captures some of the important metrics we've identified so far. This data then can be acted upon by GitLab itself to automatically tune your pipelines for better performance - imagine [automatically tuning parallelization of your test runs](https://gitlab.com/gitlab-org/gitlab/issues/12282) - without users having to spend time thinking about it. Self-healing pipelines that automatically adapt to changes to maintain their efficiency will be a powerful tool for teams.

- See a high-level [roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=✓&state=opened&label_name[]=devops%3A%3Averify)
- Stage usage can be tracked at the Verify [SMAU (Stage Monthly Active Users) Dashboard](https://app.periscopedata.com/app/gitlab/456428/Verify-Stage-Dashboard)

The Verify stage is made up of several categories:

<%= partial("direction/categories-content", :locals => { :stageKey => "verify" }) %>
